.env
*.env
**/secrets/
**/secret/
**/passwords/
**/*.key
**/*.pem
**/*.crt
letsencrypt/
*/letsencrypt/
services/immich/postgres/
services/netdata/
network/pihole/etc-pihole/
network/pihole/etc-dnsmasq.d/
